{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <title>Cipher Dashboard</title>
    <link rel="icon" type="image/png" href="{% static 'images/icons/eagle.png' %}"/>
    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/dash/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/dash/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/dash/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/dash/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/dash/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/dash/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/dash/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/dash/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/dash/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/dash/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/dash/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/dash/vector-map/jqvmap.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">
</head>

<body class="animsition">
    <div class="page-wrapper">
        <aside class="menu-sidebar2">
            <div class="logo">
                <img src="{% static 'images/icons/eagle.png' %}" alt="-x-CIPHER-x-"/>
                <span style="color:aliceblue"> -x-CIPHER-x- </span>
            </div>
            <div class="menu-sidebar2__content js-scrollbar1">
                <div class="account2">
                    <h4 class="name">{{use.username}}</h4>
                    <form action="return" method="post" class="txt2 hov1">
                        {% csrf_token %}
                        <input type="text" name="log_user" value="{{use.username}}" hidden>
                        <button type="submit" class="btn tm-btn-submit tm-btn ml-auto">Home</button>
                    </form>
                </div>
            </div>
        </aside>

        <div class="page-container2">
            <header class="header-desktop2">
                <div class="section_content section_content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap2">
                            <div class="logo d-block d-lg-none">
                                <a href="#">
                                    <img src="{% static 'images/icon/logo-white.png' %}" alt="CoolAdmin" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <section class="au-breadcrumb m-t-75">
                <div class="section_content section_content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="au-breadcrumb-content">
                                    <div class="au-breadcrumb-left">
                                        <span class="au-breadcrumb-span">You are here:</span>
                                        <ul class="list-unstyled list-inline au-breadcrumb__list">
                                            <li class="list-inline-item active">
                                                <form action="return" method="post" class="txt2 hov1">
                                                    {% csrf_token %}
                                                    <input type="text" name="log_user" value="{{use.username}}" hidden>
                                                    <button type="submit" class="btn tm-btn-submit tm-btn ml-auto">Home</button>
                                                </form>
                                            </li>
                                            <li class="list-inline-item seprate">
                                                <span>/</span>
                                            </li>
                                            <li class="list-inline-item">Dashboard</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="statistic">
                <div class="section_content section_content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="statistic__item">
                                    <h2 class="number">{{count}}</h2>
                                    <span class="desc">total number of users</span>
                                    <div class="icon">
                                        <i class="zmdi zmdi-account-o"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="statistic__item">
                                    <h2 class="number">{{followers|length}}</h2>
                                    <span class="desc">followers</span>
                                    <div class="icon">
                                        <i class="zmdi zmdi-accounts-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="statistic__item">
                                    <h2 class="number">{{following|length}}</h2>
                                    <span class="desc">following</span>
                                    <div class="icon">
                                        <i class="zmdi zmdi-accounts"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="section_content section_content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="recent-report2">
                                    <h3 class="title-3">Daily Usage</h3>
                                    <br>
                                    <div class="recent-report__chart">
                                        {% block content %}
                                            <div id="container" style="height: 370px; width: 115%;">
                                                <canvas id="usage_chart" data-url="{% url 'usage_chart' %}"></canvas>
                                            </div>
                                            <script src="{% static 'https://code.jquery.com/jquery-3.4.1.min.js' %}"></script>
                                            <script src="{% static 'https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js' %}"></script>
                                            <script>
                                                window.onload = (function () {
                                                var $populationChart = $("#usage_chart");
                                                $.ajax({
                                                    url: $populationChart.data("url"),
                                                    success: function (data) {
                                                    var ctx = $populationChart[0].getContext("2d");
                                                    new Chart(ctx, {
                                                        type: 'bar',
                                                        data: {
                                                        labels: data.labels,
                                                        datasets: [{
                                                            label: 'Minutes',
                                                            backgroundColor: 'blue',
                                                            data: data.data
                                                        }]          
                                                        },
                                                        options: {
                                                        responsive: true,
                                                        legend: {
                                                            position: 'top',
                                                        },
                                                        title: {
                                                            display: true,
                                                            text: 'Daily Usage Chart'
                                                        }
                                                        }
                                                    });
                                                    }
                                                });
                                                });
                                            </script>
                                        {% endblock %}
                                        <script type="text/javascript" src="{% static 'https://canvasjs.com/assets/script/canvasjs.min.js' %}"></script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="section_content section_content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="user-data m-b-40">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-account-calendar"></i>user data</h3>
                                    <div class="table-responsive table-data">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <td>name</td>
                                                    <td>role</td>
                                                    <td>mail id</td>
                                                    <td>date of birth</td>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="rs-select2--tran">
                                                            <h6>{{use.first_name}} {{use.last_name}}</h6>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="role admin">user</span>
                                                    </td>
                                                    <td>
                                                        <div class="rs-select2--trans rs-select2--sm">
                                                            <h6>{{use.email}}</h6>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="rs-select2--trans rs-select2--sm">
                                                            <h6>{{use.dob}}</h6>
                                                        </div>
                                                    </td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="{% static 'vendor/dash/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'vendor/dash/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'vendor/dash/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/dash/slick/slick.min.js' %}"></script>
    <script src="{% static 'vendor/dash/wow/wow.min.js' %}"></script>
    <script src="{% static 'vendor/dash/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/dash/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <script src="{% static 'vendor/dash/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/dash/counter-up/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'vendor/dash/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'vendor/dash/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'vendor/dash/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/dash/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/dash/vector-map/jquery.vmap.js' %}"></script>
    <script src="{% static 'vendor/dash/vector-map/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'vendor/dash/vector-map/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'vendor/dash/vector-map/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'js/main_2.js' %}"></script>
    <script src="{% static 'static/js/canvasjs.min.js' %}"></script>
</body>
</html>